<section data-ng-controller="MiesController" data-ng-init="findOne()">
    <div class="container">
        <div class="page-header">
            <h1 data-ng-bind="my.name"></h1>
        </div>
        <h5 data-ng-bind="my.type"></h5>
        <h5 data-ng-bind="my.partners"></h5>

        <div class="pull-right" data-ng-show="authentication.user._id == my.user._id">
            <a class="btn btn-primary" href="/#!/mies/{{my._id}}/edit">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a class="btn btn-primary" data-ng-click="remove();">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </div>
        <small>

            <em class="text-muted">
                Posted on
                <span data-ng-bind="my.created | date:'mediumDate'"></span>
                by
                <span data-ng-bind="my.user.displayName"></span>
            </em>
        </small>
    </div>
</section>