<section data-ng-controller="ToDosController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="toDo.name"></h1>
    </div>
    <div class="content">
        <h3 data-ng-bind="toDo.description"></h3>
    </div>
	<div class="pull-right" data-ng-show="authentication.user._id == toDo.user._id">
		<a class="btn btn-primary" href="/#!/to-dos/{{toDo._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="toDo.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="toDo.user.displayName"></span>
		</em>
	</small>
</section>